.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item:hover {
  color: #ff9def;
  cursor: pointer;
  border-top: #ff9def solid 2px;
  border-bottom: #ff9def solid 2px;
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}

#waifu-tips {
  display: none !important;
}

#waifu-tool span:nth-child(1) {
  display: none;
}

#waifu-tool span:nth-child(2) {
  display: none;
}

#waifu-tool span:nth-child(3) {
  display: none;
}

#waifu-tool span:nth-child(4) {
  display: none;
}

#waifu-tool span:nth-child(5) {
  display: none;
}

#waifu {
  z-index: 998;
}
